<p>home works!</p>
<div class="sp">
    <div class="container">
        <div class="d">
            <button type="button" class="btn btn-primary active" [routerLink]="['/createTeam']">Create Team</button>
        </div>
        <div class="r">
            <button type="button" class="btn btn-primary active" [routerLink]="['/createPlayer']">Create Player</button>
        </div>
        <div class="p">
            <button type="button" class="btn btn-primary active" [routerLink]="['/showTeam']">Show Team</button>
        </div>
        <div class="s">
            <button type="button" class="btn btn-primary active" [routerLink]="['/showPlayer']">Show Player</button>
        </div>
    </div>
</div>
